<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Home Page</title>
  </head>
  <body>
    <nav class="navbar">
      <a href="/index.html">Home</a>
      <a href="/log.html">Logs</a>
      <a href="/contact.html">Contact</a>
    </nav>
    <section id="Hero section">
      <h1>MyTracker</h1>
    </section>
    <section id="logs">
      <h1>Contacts Us Here</h1>
      <form class="formHolder">
        <label>Name</label>
        <input />
        <label>Email</label>
        <input />
        <label>TextBox</label>
        <input placeholder="What do you need?" />
        <button class="subBtn" type="submit">Submit</button>
      </form>
    </section>
    <script src="app.js"></script>
  </body>
</html>
