<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Home Page</title>
  </head>
  <body>
    <nav class="navbar">
      <a href="/index.html">Home</a>
      <a href="/log.html">Logs</a>
      <a href="/contact.html">Contact</a>
    </nav>
    <section id="Hero section">
      <h1>MyTracker</h1>
    </section>
    <section id="logs">
      <h1>All Logs</h1>
      <!-- <button onclick="showLogs()">Show Logs</button> -->
      <ul id="allLogs"></ul>
      <div class="input-container">
        <label for="category-select">Category:</label>
        <select id="category-select">
          <option value="Food">Food</option>
          <option value="Rent">Rent</option>
          <option value="Transport">Transport</option>
          <option value="Fun">Fun</option>
          <option value="Gas">Gas</option>
        </select>
        <label for="amount">Amount:</label>
        <input type="number" id="amount-input" />
      </div>
      <button onclick="addLog()">New Log</button>
    </section>
    <script src="app.js"></script>
  </body>
</html>
